<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="navbar">
     <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 20px">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size:30px;font-weight:bold">BOOKFLIX</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="'http://github.com/' + ${#authentication.principal.attributes[login]}">
         <img sec:authorize="isAuthenticated()" th:src="${#authentication.principal.attributes[avatar_url]}" style="border-radius: 50%;height:50px"/>
         <img sec:authorize="isAuthenticated()" th:src="${#authentication.principal.attributes[picture]}" style="border-radius: 50%;height:50px"/>
         <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.attributes[name]}" style="color:blue"></span>
         <img th:if="${#authentication.principal.attributes[picture] != null}" th:src="@{/images/Google.jpeg}" />
         <img th:if="${#authentication.principal.attributes[avatar_url] != null}" th:src="@{/images/Github.jpeg}" />
        </a>
        <a class="navbar-brand" href="/logout" sec:authorize="isAuthenticated()" style="float:right">❌ Logout</a>
      </div>
     </nav>
    </div>
    
     <div th:fragment="search-panel">
        <form action="search.html" th:attr="action=@{/search}">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Search for a title" aria-label="Search query" aria-describedby="button-addon2">
                <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Search</button>
            </div>
        </form>
    </div>
    
</body>
</html>